body {
  background-color: #5d5d5d;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: rgba(29, 26, 27);
}

a {
  text-decoration: none;
}

#logo {
  font-size: 2rem;
  text-transform: uppercase;
}

#main-header {
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  margin: 0;
  font-family: "QuickSand", sans-serif;
}

header a {
  color: burlywood;
}

nav a {
  margin: 0 1rem;
  font-size: 1rem;
}

nav a:hover {
  color: rgb(200, 212, 19);
}

#menu-btn {
  display: none;
  margin: 0;
  padding: 0;
}

#menu-btn img {
  width: 50px;
  height: 50px;
  background-color: rgb(29, 26, 27);
}

aside nav div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 120px auto 0 auto;
}

#side-drawer a {
  color: burlywood;
  margin: 10px 0;
  font-size: 2rem;
}

#side-drawer {
  width: 100%;
  height: 100%;
  background-color: rgb(29, 26, 27);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

#side-drawer #design {
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 5%;
}

#side-drawer:target {
  display: block;
}

main {
  text-align: center;
  margin: 0;
}

main h1 {
  color: burlywood;
  font-size: 3rem;
  font-weight: bolder;
}

img {
  width: 400px;
  height: 250px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  object-fit: cover;
}

#img-content {
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: 400px;
  border-radius: 6px;
  overflow: hidden;
  margin: 3rem 0.5rem;
}

.card-content {
  background-color: rgb(206, 180, 146);
  padding: 1rem 2rem 1rem 2rem;
  color: #91211f;
  font-size: 1.5rem;
  font-weight: bolder;
}

main p {
  padding: 0;
  margin-bottom: 1rem;
}

main a {
  text-decoration: none;
  font-size: 14px;
  background-color: rgba(184, 174, 39, 0.918);
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
}

main a:hover {
  background-color: rgb(145, 136, 16);
  color: rgba(245, 242, 224, 0.918);
}

@media (max-width: 48rem /*768px*/) {
  header nav {
    /* visibility: hidden; */
    display: none;
  }

  main h1 {
    font-size: 1.5rem;
  }

  #img-content {
    flex-direction: column;
  }

  .card {
    margin: 0.7rem auto;
  }

  #menu-btn {
    display: flex;
  }
}
