body {
  background-color: #5d5d5d;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: rgba(0, 0, 0, 0.692);
}

header nav {
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  margin: 0;
  font-family: "QuickSand", sans-serif;
  font-size: 2rem;
}
header nav a {
  text-decoration: none;
  color: burlywood;
}

div a {
  margin: 0 1rem;
  font-size: 1rem;
}

div a:hover {
  color: rgb(200, 212, 19);
}

.menu-btn {
  width: 60px;
  height: 50px;
  align-items: center;
  margin: 0 auto;
}

main {
  text-align: center;
  margin: 0;
}

main h1 {
  color: burlywood;
  font-size: 3rem;
  font-weight: bolder;
}

img {
  width: 400px;
  height: 250px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  object-fit: cover;
}

#img-content {
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: 400px;
  border-radius: 6px;
  overflow: hidden;
  margin: 3rem 0.5rem;
}

.card-content {
  background-color: rgb(206, 180, 146);
  padding: 1rem 2rem 1rem 2rem;
  color: #91211f;
  font-size: 1.5rem;
  font-weight: bolder;
}

main p {
  padding: 0;
  margin-bottom: 1rem;
}

main a {
  text-decoration: none;
  font-size: 14px;
  background-color: rgba(184, 174, 39, 0.918);
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
}

main a:hover {
  background-color: rgb(145, 136, 16);
  color: rgba(245, 242, 224, 0.918);
}

@media (max-width: 48rem) {
  div a {
    /* visibility: hidden; */
    display: none;
  }

  main h1 {
    font-size: 1.5rem;
  }

  #img-content {
    flex-direction: column;
  }

  .card {
    margin: 0.7rem auto;
  }
}
