/* 
BODY 
font-family: "Quicksand", sans-serif;

HEADER SECTION
header a: rgb(245, 243, 160);
text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

header div a: "Oleo Script", cursive
header nav a:hover color: rgb(77, 77, 77);
    background-color: rgb(255, 251, 0);v

HERO DIV
rgba(51, 47, 47, 0.8) //hero-content bg
box-shadow: 2px 4px 8px rgb(68, 67, 67) 
hero h1
  font-family: "Raleway", sans-serif;
rgb(251,251,0) // button

HIGHLIGHT SECTION
background: linear-gradient(0deg, rgb(227, 255, 253), rgb(202, 243, 240);
hightlight color: rgb(59,65,64);
destination box-shadow: 2px 4px 8px rgb(68,67,67);
destination-text color: rgb(124,123,123);
destination-strong-color: rgb(0, 160, 117);

FOOTER SECTION 
bg: linear-gradient(70deg, rgb(24,24,24), rgb(25,29,29);

*/

body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 60px;
  box-sizing: border-box;
  position: absolute;
}

header a {
  text-decoration: none;
  color: rgb(245, 243, 160);
}

header div a {
  text-decoration: none;
  color: rgb(245, 243, 160);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  font-family: "Oleo Script", cursive;
  font-size: 50px;
  text-transform: uppercase;
}

header nav a {
  padding: 0 20px;
  font-size: 15px;
  font-weight: bold;
}

header nav a:hover {
  background-color: rgb(255, 251, 0);
  color: rgb(77, 77, 77);
  padding: 10px;
  border-radius: 7px;
}
