h1 {
  font-family: "Oswald", sans-serif;
  font-size: 60px;
  margin: 0;
}

#description {
    font-size: 20px; 
    margin: 1rem auto 1em auto;
}

ol {
    list-style: none;
    width: 500px;
    margin: 20px auto 35px auto;  
}

li {
    border: #EF9F9F 15px solid;
    border-radius: 3px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    background-color: #EF9F9F;
    margin-top: 20px;
}

div h2 {
    color: #A10035;
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
}

/* section {
    width: 600px;
    margin: 35px auto 35px auto;  
}

div {
    border: rgb(125, 62, 177) 15px solid;
    border-radius: 7px;
    background-color: rgb(125, 62, 177);
    margin: 30px 30px;
    padding: 2px 2px;
} */

/* div h2 {
    color:rgb(253, 253, 253);
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
}

div p {
    color:rgb(243, 243, 243);
    font-family: 'Fira Sans', sans-serif;
}
